/*----- Main View -----*/
#main-page-background:not(a) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 93vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../../public/Images/Misc/Background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}
#main-page-background h1 {
    color: #fff;
}
#main-page-background a {
    width: fit-content;
}

/*----- Skills -----*/
.skill-col {
    flex-basis: 31%;
    background: #ffcdcd;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-top: 15px;
}
.skill-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*----- Programming Languages -----*/
.expand-languages {
    display: none;
}
.expand-languages p {
    margin-top: 20px;
}
.expand-languages .three-col {
    animation-name: slide-down;
    animation-duration: 1s;
}
.languages .fa {
    font-size: 50px;
    margin-top: 10px;
    display: block;
}
.languages .fa-arrow-up {
    display: none;
}
.languages .fa-arrow-down:hover, .languages .fa-arrow-up:hover {
    color: var(--secondary-color);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;
}

/*----- Screen Size Variation -----*/
@media(max-width: 700px) {
    .language-col {
        margin-bottom: 25px;
    }
}