/*----- Main View -----*/
.overview, .description, .languages, .gallery, .github {
    width: 80%;
    margin: auto;
    text-align: center;
    margin: 10px auto;
    padding: 10px 0;
}

/*----- Title/Overview/Description -----*/
.overview .title h6 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.overview .title h3 {
    margin-top: 0;
    padding-top: 0;
    color: var(--secondary-color)
}
.description p {
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    margin-top: 10px;
}
.three-col .fa {
    font-size: 20vh;
    color: var(--secondary-color);
}

/*----- Gallery -----*/
.project-col {
    flex-basis: 48%;
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
    padding-bottom: 5px;
    margin: 10px 0;
    background-color: #000;
    cursor: pointer;
}
.project-col-margin {
    flex-basis: 48%;
    margin: auto;
}
.project-col img {
    width: 100%;
    border-radius: 5px;
}
.project-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    background-color: #000;
}
.project-col h3 {
    width: 100;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
    transition: 500ms;
}
.project-col:hover h3 {
    color:#fff;
    background-color: #000;
}
.expand-gallery {
    display: none;
}
.expand-gallery .project-col {
    animation-name: slide-down;
    animation-duration: 1s;
}
.gallery .fa {
    font-size: 50px;
    margin-top: 10px;
    display: block;
}
.gallery .fa-arrow-up {
    display: none;
}
.gallery .fa-arrow-down:hover, .gallery .fa-arrow-up:hover {
    color: var(--secondary-color);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;
}

/*----- GitHub -----*/
.github .image img {
    max-width: 70%;
}

/*----- Screen Size Variation -----*/
@media (max-width: 700px) {
    
}
